/* imports */
@import url("bootstrap.min.css");



.first-section{
    text-align: center;
    font-size: 40px;
    background-image: url("../img/h_img.jpg");
    background-size: 100%;
    color: white;
}
.first-section p{
    font-size: 20px;
}
.about{
    text-align: center;
}
.second-section{
        color: black;
    text-align: center;
}
.third-section{
    background-image: url("../img/s_image.jpg");
    background-size: 100%;
    color: white;
    font-size: 14px;
    line-height: 1.42857143;
}
.fourth-section{
    background-color: azure;
}
.fourth-section h1{
    text-align: center;
    font-size: 70px;
}
.col-3 img{
    padding: 5px;
    width: 100%
};
.hidden p{
    display: none;
    text-align: center;
}
/* .hidden{
    margin: 1%;
} */